# For Loop

In [2]:
x = [1,2, "red", "apple"]
print(x)

[1, 2, 'red', 'apple']

In [3]:
print(type(x))

<class 'list'>

In [4]:
for i in x:
    print(i)

1
2
red
apple

In [5]:
y = "python"
print(y)

python

In [6]:
for a in y:
    print(a)

p
y
t
h
o
n

In [7]:
a = "12345"
for i in a:
    print(i)

1
2
3
4
5

In [8]:
for i in [1,10, "hi", "hello"]:
    print(i)

1
10
hi
hello

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(15,20):
    print(i)

15
16
17
18
19

In [17]:
for i in range(20, 30, 3):
    print(i)

20
23
26
29

In [19]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
num = [1,2,3]
color = ["red", "blue", "green"]

In [21]:
for i in num:
    for j in color:
        print(i,j)

1 red
1 blue
1 green
2 red
2 blue
2 green
3 red
3 blue
3 green